:root{
--azul: #054a91ff;
--Azulclaro: #3e7cb1ff;
--: cinza rgb(127, 135, 145);
--Branco: #dbe4eeff;
}
  

body{
 background-color:var(--azul) ;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 2opx;
 margin: 0;
 padding: 0;

} 
main{
    margin: 20px 0;
    text-align: center;
    max-width: 90%;
}

button{
    background-color: var( --Azulclaro);
    font-size: 22px;
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    color:rgb(0,0,0);
    box-shadow: 2px 2px 5px black;
   
}
button:hover{
    background-color: var(--Branco);
    box-sizing: none;
    transition: 0.5s;

}
.passo{
 display: none;
}
.passo.ativo{
    display: block;
}
